*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Comic Sans MS", cursive;
}


body{

    height:100vh;
    overflow:hidden;
    background:#0b1d3a;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

}


/* Fake scan screen */

.screen{

    position:absolute;
    width:100%;
    height:100%;

    background:#050505;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    z-index:10;

}



.screen h1{

    color:#ffd700;
    font-size:55px;

}



.loading{

    width:350px;
    height:25px;

    border:3px solid white;
    border-radius:20px;

    overflow:hidden;

}



.bar{

    height:100%;
    width:0%;

    background:#ffd700;

    animation:load 5s forwards;

}



@keyframes load{

    from{
        width:0%;
    }

    to{
        width:100%;
    }

}





.container{

    display:none;

}



h1{

    color:#ffd700;

    font-size:55px;

    text-shadow:3px 3px black;

    animation:bounce 1s infinite;

}



@keyframes bounce{

    50%{

        transform:translateY(-15px);

    }

}




.cake{

    font-size:130px;

    animation:dance .5s infinite alternate;

}



@keyframes dance{

    from{

        transform:rotate(-15deg);

    }


    to{

        transform:rotate(15deg);

    }

}





button{

    margin:10px;

    padding:15px 35px;

    border:none;

    border-radius:50px;

    background:#ffd700;

    color:#0b1d3a;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}



button:hover{

    transform:scale(1.15);

}





#gift{

    position:relative;

}




.message{

    color:#ffd700;

    font-size:25px;

    margin:20px;

}





#photo{

    display:none;

    margin-top:25px;

}



#photo img{

    width:250px;

    height:250px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid #ffd700;

    box-shadow:0 0 40px #ffd700;

    animation:show 1s;

}




@keyframes show{

    from{

        transform:scale(0);

        opacity:0;

    }


    to{

        transform:scale(1);

        opacity:1;

    }

}





.confetti{

    position:absolute;

    width:12px;

    height:12px;

    animation:fall 3s linear;

}



@keyframes fall{


    from{

        transform:translateY(-20px) rotate(0);

    }


    to{

        transform:translateY(100vh) rotate(720deg);

    }


}





.balloon{

    position:absolute;

    font-size:50px;

    animation:up 8s linear;

}



@keyframes up{

    from{

        transform:translateY(100vh);

    }


    to{

        transform:translateY(-120vh);

    }

}





@media(max-width:600px){


h1{

    font-size:35px;

}


button{

    font-size:16px;

}


.cake{

    font-size:90px;

}


}