*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1f242d;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}

.navbar a:hover,
.navbar a.active{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;
}


.home-content h3 span{
    color: #0ef;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img{
    max-width: 600px;
    height: 600px;
    margin-right: -20px;
    width: 100%;
    margin-right: -2opx;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    
    

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    background: #0ef;
    border: 2px solid #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 20px #0ef;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.About{
    background: #1f242d;
    padding: 100px 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 6rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
}


.About-img{
   
    max-width: 530px;
    height: auto;
    width: 100%;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;
}

.About-img img{ 
    padding-bottom: 20%;
    max-width: 530px;
    height: auto;
    width: 100%;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
}

.About-text h2{
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
}

.About-text h2 span{
    color: #0ef;
}

.About-text h5{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  
}

.About-text p{
    color:aliceblue;
    
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
  
}
#services{
    background: #1f242d;
    font-size: 20px;
    margin-bottom: 4rem;
    line-height: 1.4;
    padding: 100px 15%;
    text-align: center;
   
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    
}

.sub-title span{
    color: #0ef;
}
.container{
   
    padding: 90px;
   
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 20px;
    border-right: 10px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 1px 1px 20px rgba(22, 201, 251, 0.1),
              1px 1px 20px rgba(22, 201, 251, 0.1);

}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    
}
.services-list div a{
    text-decoration: none;
    color: #1f242d;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    background: #0ef;
}
.read{
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 20px;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
   
}
.read :hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef,
    0 0 25px #0ef, 
    0 0 50px #0ef,
    0 0 100px #0ef,
    0 0 200px #0ef;
}

.services-list div:hover{
    background: rgb(46, 105, 109);
    transform: translateY(-10px);
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: rgb(1, 10, 41);
    animation: animate 1s cubic-bezier(1,0,0,1) forwards;
    transform: scaleX(0);
    transform-origin: left; 

}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 85%;
}
.progress-line.Javascript span{
    width: 60%;
}
.progress-line.python span{
    width: 50%;
}
.progress-line.php span{
    width: 76%;
}
.progress-line.react span{
    width: 75%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "85%";
}
.progress-line.Javascript span::after{
    content: "60%";
}
.progress-line.python span::after{
    content: "50%";
}
.progress-line.php span::after{
    content: "76%";
}
.progress-line span::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px ;
    border-right-width: 0px ;
    border-top-color: #f95555;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;

}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    height: 100%;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: #000000;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}
.main-text{
    padding-top: 130px;
    margin-top: 200px;
    text-align: center;
}
.main-text h2{
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: flex; /* changed from grid for better centering */
    justify-content: center; /* centers the grid items */
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    padding: 0 10%;
}
.row{
    position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  width: 350px;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #00111f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer img{
    color: #f95555;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-top: 130px;
    padding-left: 30px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom:  2rem;
}
.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
   
}
.contact-list li i{
    margin-right: 20px;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);    
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input form textarea{
    width: 90%;
    padding: 18px;
    background: #1f242d;
    color: #415486;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;  
   
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 20px;
    font-size: 18px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    background: #0ef;
    box-shadow: 0 0 20px #0ef,
    0 0 25px #0ef, 
    0 0 50px #0ef,
    0 0 100px #0ef,
    0 0 200px #0ef;
}
.last-text p{
    width: 100%;
    text-align: center;
    background: #1f242d;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 10px;
    padding: 10px;
    border-radius: 0.5rem;
}


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideleft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    
}
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}


